# off, error, warn, info, debug, trace
log_level = info

[filepicker]
cmd=/usr/share/xdg-desktop-portal-pikeru/pikeru-wrapper.sh
default_save_dir=~/Downloads
postprocess_dir=/tmp/pk_postprocess


[indexer]
# this section tells xdg-desktop-portal-pikeru how to build an index for semantic search.
# The example values here are for a stable-diffusion-webui server running on localhost that
# is used to generate searchable text for files in any directory opened by pikeru.

enable = false

# make sure this is the same as cache_dir in pikeru.conf
cache_dir = ~/.cache/pikeru

# shell command that will be given an additional filepath arg and prints searchable text on stdout.
cmd = python ~/git/pikeru/indexer/imgdex.py http://127.0.0.1:7860/sdapi/v1/interrogate

# shell command that only returns status code 0 when the indexer is online
check = curl http://127.0.0.1:7860/sdapi/v1/interrogate

# comma-separate list of file types that 'cmd' can process.
extensions = png,jpg,gif,webp,tiff,bmp
